{% extends 'base/base.html' %}
{% load render_partial %}
{% block contents %}
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/#" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a></li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{% url 'products:products_list' %}" itemprop="url"><span itemprop="title">محصولات</span></a></li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="" itemprop="url"><span itemprop="title">{{product.title}}</span></a></li>

      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <div itemscope="" itemtype="http://schema.org/محصولات">
            <h1 class="title" itemprop="name">{{ product.title }}</h1>
            <div class="row product-info">
              <div class="col-sm-6">
                <div class="image"><div style="height:150px;width:350px;" class="zoomWrapper">
                  <img class="img-responsive" itemprop="image" id="zoom_01" src="{{ product.image.url }}" alt="{{product.title}}" style="position: absolute;">
                </div> </div>
                  <div class="image-additional" id="gallery_01">
                     {% for image_gallery in gallery %}
                        <a class="thumbnail active" href="#" data-zoom-image="{{image_gallery.image.url}}" data-image="{{image_gallery.image.url}}">
                          <img src="{{image_gallery.image.url}}" title="{{image_gallery.title}}" alt="{{image_gallery.title}}">
                        </a>
                     {% endfor %}
                  </div>
              </div>
              <div class="col-sm-6">
                <h1 class="title" style="font-size:18px;" itemprop="name">نام ناشر: {{ product.publisher_name }}</h1>
                <h1 class="title" style="font-size:18px;" itemprop="name">مدت زمان دوره: {{ product.course_duration }}</h1>
              </div>
              <div class="col-sm-6">
                <ul class="price-box">
                  <li class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <span class="price">تومان {{ product.price}}</span>
                  </li>
                </ul>
                <div id="product">
                  <div class="cart">
                    <form action="/add_new_order" method="post">
                      {%csrf_token%}
                      <div>
                        <div class="qty">
                          {{new_order_form.product_id}}
                          <label class="control-label" for="input-quantity">تعداد</label>
                          {{new_order_form.count}}
                          <a class="qtyBtn plus" href="javascript:void(0);">+</a><br>
                          <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                          <div class="clear"></div>
                        </div>
                        <button type="submit" id="button-cart" class="btn btn-primary btn-lg">افزودن به سبد خرید</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-description" data-toggle="tab">توضیحات</a></li>
            </ul>
            <div class="tab-content">
              <div itemprop="description" id="tab-description" class="tab-pane active">
                <div>
                    <p>{{product.description}}</p>
                </div>
              </div>
            </div>
            <h3 class="subtitle">محصولات مرتبط</h3>
            <div class="owl-carousel related_pro">
            {% for product in related_products %}
              <div class="product-thumb">
                <div class="image"><a href="{% url 'products:product_detail' product.id product.title %}"><img src="{{ product.image.url}}" alt="{{ product.title}}" title="{{ product.title}}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{{ product.get_product_detail_url }}">{{ product.title}}</a></h4>
                    <p class="price">
                        <span class="price-new">{{ product.price }} تومان</span>
                    </p>
                  </div>
                  <div class="button-group">
                   <a href="{{product.get_product_detail_url}}">
                     <button class="btn-primary" type="button" onClick=""><span>مشاهده محصول</span></button>
                   </a>
                </div>
              </div>
            {% endfor %}
          </div>
         </div>
        </div>
        <!--Middle Part End -->
        <!--left Part Start -->
        <aside id="column-right" class="col-sm-3 hidden-xs">
          <div class="side-item">
          <!-- Featured محصولات Start-->
          <h3 class="subtitle" style="border-bottom: none; margin-bottom:0">محصولات ویژه</h3>
          <div class="product-list">
            {% for product in featured_products %}
              <div class="product-thumb clearfix">
                <div class="image"><a href="{% url 'products:product_detail' product.id product.title %}"><img src="{{product.image.url}}"  alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{% url 'products:product_detail' product.id product.title %}">{{product.title}}</a></h4>
                    <p class="price"><span>{{product.price}} تومان</span></p>
                  </div>
                  <div class="button-group">
                    <a href="{{product.get_product_detail_url}}">
                      <button class="btn-primary" type="button"><span>مشاهده محصول</span></button>
                    </a>
                  </div>
              </div>
            {% endfor %}
          </div>
          <!-- Featured محصولات End-->
          </div>
            {% render_partial 'products_categories_partial' %}
        </aside>
        <!--left Part End -->
      </div>
    </div>
{% endblock %}