{% extends 'base/base.html' %}
{% block contents %}
    <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="cart.html">سبد خرید</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h1 class="title">سبد خرید</h1>
            <div class="table-responsive">
                {% if order != None and details|length > 0 %}
                  <table class="table table-bordered">
                <thead>
                  <tr>
                    <td class="text-center">تصویر</td>
                    <td class="text-left">نام محصول</td>
                    <td class="text-left">کد محصول</td>
                    <td class="text-left">تعداد</td>
                    <td class="text-right">قیمت واحد</td>
                    <td class="text-right">کل</td>
                    <td class="text-right">عملیات</td>
                  </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                     <tr>
                        <td class="text-center">
                            <a href="product.html">
                                <img src="{{detail.product.image.url}}" alt="{{detail.product.title}}" style="width:100px; height:100px" class="img-thumbnail">
                            </a></td>
                        <td class="text-left"><a href="{% url 'eshop_products:product_detail' detail.product.id detail.product.title %}">{{detail.product.title}}</a><br>
                        <td class="text-left">{{detail.product.id}}</td>
                        <td class="text-left"><div class="input-group btn-block quantity">
                            <span>{{detail.count}}</span>
                            <span class="input-group-btn">
                            </span></div></td>
                        <td class="text-right"> {{detail.price}} تومان</td>
                        <td class="text-right">{{detail.product_sum_in_cart}} تومان</td>
                         <td>
                             <div class="pull-right">
                                 <a href="/remove-cart-item/{{detail.id}}" class="btn btn-danger">حذف از سبد خرید</a>
                             </div>
                         </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
                {% else %}
                    <p>هیچ محصولی در سبد خرید یافت نشد!</p>
                {% endif %}
            </div>
          <h2 class="subtitle">حالا مایلید چه کاری انجام دهید؟</h2>
          <p>در صورتی که کد تخفیف در اختیار دارید میتوانید از آن در اینجا استفاده کنید.</p>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
              <table class="table table-bordered">
                <tbody><tr>
                  <td class="text-right"><strong>جمع کل:</strong></td>
                  <td class="text-right">{{total_price}} تومان</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>مالیات:</strong></td>
                  <td class="text-right">0 تومان</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>قابل پرداخت :</strong></td>
                  <td class="text-right"> {{total_price}} تومان</td>
                </tr>
              </tbody></table>
            </div>
          </div>
          <div class="buttons">
            <div class="pull-left"><a href="index.html" class="btn btn-default">ادامه خرید</a></div>
            <div class="pull-right"><a href="/request" class="btn btn-primary">تسویه حساب</a></div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
    </div>
{% endblock %}