{% extends 'base/base.html' %}
{% load static %}
{% block contents %}
<div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="/#"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'contact' %}">تماس با ما</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">تماس با ما</h1>
          <div class="row">
            <div class="col-sm-3"><img src="{% static "image/image/codity.png" %}" alt="فروشگاه کدیتی" title="فروشگاه کدیتی" class="img-thumbnail" style="border:none;"></div>
            <div class="col-sm-3"><strong>فروشگاه کدیتی</strong><br>
              <address>{{setting.adress}}</address>
            </div>
            <div class="col-sm-3"><strong>شماره تلفن</strong><br>
              {{setting.phone}}
              <br>
              <strong>فکس</strong><br>
              {{setting.fax}} 
            </div>
          </div>
          <form class="form-horizontal" method="post">
                {% csrf_token %}
            <fieldset>
              <h3 class="subtitle">با ما ارتباط برقرار کنید</h3>
              <div class="form-group required">
                <label class="col-md-2 col-sm-3 control-label" for="input-name">{{contact_form.fullName.label}}</label>
                <div class="col-md-10 col-sm-9">
                  {{contact_form.fullName}}
                </div>
                  {% for error in contact_form.fullName.errors %}
                    <div class="text-danger">
                        {{ error }}</div>
                  {% endfor %}
                </div>

              <div class="form-group required">
                <label class="col-md-2 col-sm-3 control-label" for="input-name">{{contact_form.email.label}}</label>
                <div class="col-md-10 col-sm-9">
                  {{contact_form.email}}
                </div>
                  {% for error in contact_form.email.errors %}
                    <div class="text-danger">
                        {{ error }}
                    </div>
                  {% endfor %}
              </div>

              <div class="form-group required">
                <label class="col-md-2 col-sm-3 control-label" for="input-name">{{contact_form.message.label}}</label>
                <div class="col-md-10 col-sm-9">
                  {{contact_form.message}}
                </div>
                  {% for error in contact_form.message.errors %}
                    <div class="text-danger">
                        {{ error }}
                    </div>
                  {% endfor %}
              </div>

            </fieldset>
            <div class="buttons">
              <div class="pull-right">
                <input class="btn btn-primary" type="submit" value="ارسال">
              </div>
            </div>
          </form>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
</div>
{% endblock %}