{% extends 'base/base.html' %}
{% load static %}
{% load render_partial %}
{% block contents %}

  <div id="container">
    <div class="container">
      <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
          <div class="box-category">
             {% render_partial 'products_categories_partial' %}
          </div>
        </aside>
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">

          <!-- Slideshow Start-->
          <div class="slideshow single-slider owl-carousel">
            {% for slider in sliders %}
              <div class="item {{ forloop.first|yesno:'active,' }}">
                <a href="{{slider.link}}"><img class="img-responsive" src="{{slider.image_thumbnail.url}}" alt="{{slider.title}}"></a>
              </div>
            {% endfor %}
          </div>
          <!-- Slideshow End-->

          <!-- Featured محصولات Start-->
          <h3 class="subtitle">محصولات ویژه</h3>
          <div class="owl-carousel product_carousel">
            {% for product in featured_products %}
              <div class="product-thumb clearfix">
                <div class="image"><a href="{% url 'products:product_detail' product.id product.title %}"><img src="{{product.image.url}}"  alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{% url 'products:product_detail' product.id product.title %}">{{product.title}}</a></h4>
                    <p class="price"><span>{{product.price}} تومان</span></p>
                  </div>
                  <div class="button-group">
                    <button class="btn-primary" type="button" onClick="cart.add('42');"><span>افزودن به سبد</span></button>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- Featured محصولات End-->

          <!-- visits محصولات Start-->
          <h3 class="subtitle">پر بازدید ترین محصولات</h3>
          <div class="owl-carousel product_carousel">
            {% for product in most_visits_products %}
              <div class="product-thumb clearfix">
                <div class="image"><a href="{% url 'products:product_detail' product.id product.title %}"><img src="{{product.image.url}}"  alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{% url 'products:product_detail' product.id product.title %}">{{product.title}}</a></h4>
                    <p class="price"><span>{{product.price}} تومان</span></p>
                  </div>
                  <div class="button-group">
                    <button class="btn-primary" type="button" onClick="cart.add('42');"><span>افزودن به سبد</span></button>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- visits محصولات End-->

           <!-- latest محصولات Start-->
          <h3 class="subtitle">جدید ترین محصولات</h3>
          <div class="owl-carousel product_carousel">
            {% for product in latest_products %}
              <div class="product-thumb clearfix">
                <div class="image"><a href="{% url 'products:product_detail' product.id product.title %}"><img src="{{product.image.url}}"  alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{% url 'products:product_detail' product.id product.title %}">{{product.title}}</a></h4>
                    <p class="price"><span>{{product.price}} تومان</span></p>
                  </div>
                  <div class="button-group">
                    <button class="btn-primary" type="button" onClick="cart.add('42');"><span>افزودن به سبد</span></button>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- latest محصولات End-->

        </div>
        <!--Middle Part End-->
      </div>
    </div>
  </div>
{% endblock %}